build:
  image: python:3.13-bookworm
  command:
    - "/bin/bash"
    - "-c"
    - "python -m pip install -r ./requirements.txt -t ./packages --upgrade --root-user-action=ignore --disable-pip-version-check"
  context:
    - "requirements.txt"
  # devArtifacts: {}
  artifacts:
    "packages": "/build/packages"
  # workDir: "/build"
src:
  - script.py
  - requirements.txt