LOCAL_DOMAIN=$_APP_HOSTNAME
SINGLE_USER_MODE=false
SECRET_KEY_BASE=$_SECRET_KEY_BASE
OTP_SECRET=$_OTP_SECRET
VAPID_PRIVATE_KEY=$_VAPID_PRIVATE_KEY
VAPID_PUBLIC_KEY=$_VAPID_PUBLIC_KEY
DB_HOST=$_DB_HOST
DB_PORT=$_DB_PORT
DB_NAME=$_DB_NAME
DB_USER=$_DB_USER
DB_PASS=$_DB_PASS
DB_SSLMODE=require
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
SMTP_SERVER=$_SMTP_SERVER
SMTP_PORT=$_SMTP_PORT
SMTP_LOGIN=$_SMTP_LOGIN
SMTP_PASSWORD=$_SMTP_PASSWORD
SMTP_FROM_ADDRESS=$_SMTP_FROM_ADDRESS
SMTP_AUTH_METHOD=$_SMTP_AUTH_METHOD
SMTP_OPENSSL_VERIFY_MODE=$_SMTP_OPENSSL_VERIFY_MODE
SMTP_ENABLE_STARTTLS=$_SMTP_ENABLE_STARTTLS
DISABLE_DATABASE_ENVIRONMENT_CHECK=1
LIMITED_FEDERATION_MODE=true